{
  "env": {
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": ["__test__/**/*.test.ts"]
    }
  ]
}
